@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .item{
    @apply px-2 py-1;
  }

  .header {
    @apply bg-slate-400 px-2 pt-2 pb-1;
    .container{
      @apply max-w-[2000px] 2xl:mx-auto
    }
    .nav-list{
      @apply sm:mx-4 flex items-stretch justify-between flex-wrap gap-2 text-base;
    }
    .category-list{
      @apply bg-slate-700;
    }
    .items-category{
      @apply text-white font-semibold py-1 justify-start;	
    }
  }

  .nav-item {
    @apply grid place-items-center h-full;
  }

  .menu-btn-container {
    @apply p-1 py-3;
  }

  .nav-right {
    @apply order-2 sm:order-1 ml-auto;
  }

  .nav-fill {
    @apply basis-full sm:flex-grow sm:basis-auto order-3;
  }

  .nav-right,
  .nav-fill {
    @apply sm:order-1
  }
  .nav-left{
    @apply w-fit mr-auto;
  }

  .close-menu {
    @apply text-white absolute top-12 right-8;
  }

  .menu-content {
    @apply bg-slate-400 w-fit h-full overflow-auto max-w-[200px] p-2;
  }

  .background {
    @apply absolute inset-0 bg-black -z-10 opacity-70;
  }
  .hidden-list{
    @apply border-t-2 overflow-y-scroll overflow-x-hidden break-words text-xl
  }
}

.logo{
  width: clamp(150px, calc(150px + 2vw), 250px);
}

.nav-left,
.nav-right,
.nav-fill {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.nav-fill .nav-item {
  flex-grow: 1;
}

.nav-fill input {
  width: 100%;
}

.header {
  nav{
    margin-bottom: .25rem;
  }
  $transition: all 250ms ease-in;
  .hidden-menu-container {
    position: absolute;
    z-index: 10;
    color: black;
    inset: 0;
    pointer-events: none;
    .menu-content{
      transform: translateX(-100%);
      transition: $transition;
    }
    .close-menu{
      transform: translateX(200%);
      transition: $transition;
    }
    .background{
      opacity: 0;
      transition: $transition;
    }
  }
  &.active .hidden-menu-container{
    pointer-events: all;

    .menu-content{
      transform: translateX(0%);
      transition: $transition;
    }
    .close-menu{
      transform: translateX(0%);
      transition: $transition;
    }
    .background{
      opacity: 0.7;
      transition: $transition;
    }
  }
}
.item{
  border: 2px solid transparent;
  &:focus-visible{
    border-radius: 0;
    outline: 3px solid orangered;
  }
  &.select,&:hover{
    outline: none;
    border-color:white; 
  }
}
.logo{
  padding: 0;
  margin: 0;
}
